body{
   padding: 0;
   margin:3rem;
   font-family: "Podkova", serif;
   background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/background-web-panggil-aja.png);
}


.container-about{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.containerKiri img{
    width: 60%;
    margin-left:3rem ;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
}

.containerKanan{
    color:white;
    font-weight: bold;
    width: 400px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3rem;
}

.containerKanan .tagline{

    word-spacing: 5px;

}



.button-contKanan{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 38px;


}

.button-contKanan button{

    font-family: "podkova", serif;
    font-weight: bold;
    border-color: white;
    cursor: pointer;
    color: white;
    background-color: rgba(113, 230, 104, 1);
    text-align: center;
    width: 7.5rem;
    height: 32px;
    border-radius: 30px;

}


.img-follower{
    display:flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-follower img{
    justify-self: center;
    align-self: center;
    width: auto;
    border-color: white;
    height: 70%;
}


/* navbar */
.navbar{
    display: flex;
    background-color:transparent;
    min-width: 400px;
    font-family: "Podkova", serif;
    z-index: 1000;
    padding: 2px;
    margin-top: 0;
    
    width: 200vh;
    justify-content: space-evenly;
    gap:79px;
    align-items: center;


}

.logo{
    width: 5%;
    height: auto;
    margin-right: auto;
}

button{
    font-weight: bolder;
    background-color: rgba(113, 230, 104, 1);
    width: 100px;
    border-color: white;
    cursor: pointer;
    height: 35px;
    border-radius: 50px;
}



.navbar-nav{
    text-decoration: none;
    color: white;
}
